<h1>Crypto Article Reader</h1>
<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placeholder: 'Input Article Link', size: 50 %>
  <%= submit_tag 'Analyze' %>
<% end %>

<% if @stock %>
  <%= @stock.company_name %><br/>
  $<%= @stock.latest_price %>
<% elsif @nothing %>
  <%= @nothing %>
<% elsif @error %>
  <%= @error %>
<% end %>





